//COLORS
$color-primary: #80cde3;
$color-primary-light: rgb(19, 129, 129);
$color-primary-dark: rgb(11, 63, 74);


$color-grey:grey;
$color-white: #EAF2E3;
$color-black: #000;

$text-color-primary: #272727;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
